<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="windwail.ru.alarm">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <meta-data
            android:name="DATABASE"
            android:value="alarm_store.db" />
        <meta-data
            android:name="VERSION"
            android:value="220" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="windwail.ru.alarm" />

        <activity android:name=".MainActivity"
            android:configChanges = "orientation"
            android:screenOrientation = "portrait"
            >

        </activity>

        <receiver android:name=".AlarmReceiver"
            android:configChanges = "orientation"
            android:screenOrientation = "portrait"/>

        <!--
        <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED" />
        </intent-filter>
        -->

        <service
            android:name=".RingtonePlayingService"
            android:enabled="true" />

        <activity android:name=".AlarmsList"
            android:configChanges = "orientation"
            android:screenOrientation = "portrait"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".AlarmDetails"
            android:configChanges = "orientation"
            android:screenOrientation = "portrait"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".AlarmTest"
            android:configChanges = "orientation"
            android:screenOrientation = "portrait">

        </activity>
        <activity android:name=".AlarmDetailsTabs"
            android:configChanges = "orientation"
            android:screenOrientation = "portrait">



        </activity>
    </application>

</manifest>
